In [1]:
import pandas as pd

In [3]:
ls ../data/sapro/SAPRO\ Annual\ Reports

SAPRO_13_all.xlsx  SAPRO_16_all.xlsx  SAPRO_2015/        misc/
SAPRO_14_all.xlsx  SAPRO_2013/        SAPRO_2016/
SAPRO_15_all.xlsx  SAPRO_2014/        SAPRO_all.xlsx

In [9]:
ls ../data/sapro/SAPRO\ Annual\ Reports/SAPRO_2013/

FY13_DoD_SAPRO_Annual_Report_on_Sexual_Assault.pdf
OLD/
SAPRO_charts_airforce_13.pdf
SAPRO_charts_army_13.pdf
SAPRO_charts_marinecoprs_13.pdf
SAPRO_charts_navy_13.pdf
SAPRO_usmcworkplaceinspection_13.pdf
workbooks/

In [236]:
gold_standard = pd.read_excel('../data/sapro/SAPRO Annual Reports/SAPRO_13_all.xlsx', index_col=0)

In [242]:
gold_standard['Subject:\rPrior\rInvesti-\rgation\rfor Sex\rAssault?'].fillna('NO')

No.
1       NO
2       NO
3       NO
4       NO
5       NO
6      YES
7       NO
8      YES
9       NO
10      NO
11      NO
12      NO
13      NO
14      NO
15      NO
16      NO
17      NO
18      NO
19      NO
20      NO
21      NO
22      NO
23      NO
24      NO
26      NO
27     YES
28      NO
29      NO
30      NO
31      NO
      ...
260     NO
261     NO
262     NO
263     NO
264     NO
265     NO
266     NO
267     NO
268     NO
269     NO
270     NO
271     NO
272     NO
273     NO
274     NO
275     NO
276     NO
277     NO
278     NO
280     NO
281     NO
282     NO
283     NO
284     NO
285     NO
286     NO
287     NO
288     NO
289     NO
290     NO
Name: Subject:\rPrior\rInvesti-\rgation\rfor Sex\rAssault?, Length: 2041, dtype: object

In [18]:
t = pd.read_csv('/Users/206309/Downloads/tabula-SAPRO_charts_army_14 (1).csv')

In [40]:
t = t.drop((t
 .isnull()
 .apply(lambda x: x.value_counts()).T
 .pipe(lambda df: df[df.apply(lambda x: pd.isnull(x[False]), axis=1)])).index, axis=1)

In [45]:
t2 = t.apply(lambda x: x.value_counts())

In [247]:
def consolidate_col(value_set, cn_list=None,  default_val='First'):
    if cn_list == None:
        cn_list = list(t2.loc[value_set].fillna(0).sum().pipe(lambda s: s[s!=0]).index)
    
    value_set = map(lambda x: x.lower(), value_set)
    output_col = pd.Series(index=t.index)
    for idx, row in t[cn_list].iterrows():
        for col in row:
            if pd.notnull(col):
                if col.lower() in value_set:
                    if default_val=='First':
                        if pd.isnull(output_col[idx]):
                            output_col[idx] = col
                    else:
                        output_col[idx] = col
                    # what if there are two col that are each in the value_set? 
                    # last is the one used, I guess
                    
    return output_col

In [394]:
all_output_cols = []

# index

In [395]:
numbers = t2.iloc[:998, :].index

In [396]:
numbers = consolidate_col(numbers).to_frame('No.')
all_output_cols.append(numbers)

# Allegation

In [397]:
list(t['Unnamed: 1'].value_counts()[:7].index)

['Abusive Sexual\rContact (Art.\r120)',
 'Sexual Assault\r(Art. 120)',
 'Rape (Art. 120)',
 'Aggravated\rSexual Contact\r(Art. 120)',
 'Aggravated\rSexual Assault\r(Art. 120)',
 'Wrongful Sexual\rContact (Art.\r120)',
 'Non-Consensual\rSodomy (Art.\r125)']

In [398]:
a_list = list(t['Unnamed: 1'].value_counts()[:7].index)+[
     'Abusive Sexual\rContact (Art.\r120)',
     'Sexual Assault\r(Art. 120)',
     'Rape (Art. 120)',
     'Aggravated\rSexual Contact\r(Art. 120)',
     'Aggravated\rSexual Assault\r(Art. 120)',
     'Wrongful Sexual\rContact (Art.\r120)',
     'Non-Consensual\rSodomy (Art.\r125)',
     'Indecent Assault\r(Art. 134)',
     'Attempts to\rCommit\rOffenses (Art.\r80)'
]

In [399]:
a_list

['Abusive Sexual\rContact (Art.\r120)',
 'Sexual Assault\r(Art. 120)',
 'Rape (Art. 120)',
 'Aggravated\rSexual Contact\r(Art. 120)',
 'Aggravated\rSexual Assault\r(Art. 120)',
 'Wrongful Sexual\rContact (Art.\r120)',
 'Non-Consensual\rSodomy (Art.\r125)',
 'Abusive Sexual\rContact (Art.\r120)',
 'Sexual Assault\r(Art. 120)',
 'Rape (Art. 120)',
 'Aggravated\rSexual Contact\r(Art. 120)',
 'Aggravated\rSexual Assault\r(Art. 120)',
 'Wrongful Sexual\rContact (Art.\r120)',
 'Non-Consensual\rSodomy (Art.\r125)',
 'Indecent Assault\r(Art. 134)',
 'Attempts to\rCommit\rOffenses (Art.\r80)']

In [400]:
allegation = consolidate_col(a_list).to_frame('Most Serious Sexual Assault Allegation Subject is Investigated For')
all_output_cols.append(allegation)

# Location

In [401]:
location_list = t['Unnamed: 2'].value_counts().index

In [402]:
location = consolidate_col(location_list).to_frame('Incident Location')
all_output_cols.append(location)

# Victim affiliation

In [403]:
affil_list = ['Army',
 'Unknown',
 'Air Force',
 'Navy',
 'DoD']

In [404]:
cols = list(t2.loc[affil_list].fillna(0).sum().pipe(lambda s: s[s!=0]).index)

In [406]:
affil = consolidate_col(affil_list).to_frame('Victim Affiliation')
all_output_cols.append(affil)

# Victim Pay Grade

In [407]:
list(t['Unnamed: 4'].value_counts().index)
pay_grade_list = ['E-4',
 'E-3',
 'US Civilian',
 'E-2',
 'E-1',
 'Unknown',
 'E-5',
 'E-6',
 'O-1',
 'E-7',
 'O-2',
 'Foreign\rNational',
 'O-4',
 'O-3',
 'Prep School\rStudent',
 'C-1',
 'O-5']

In [408]:
cols = list(t2.loc[pay_grade_list].fillna(0).sum().pipe(lambda s: s[s!=0]).index)

In [410]:
vict = consolidate_col(pay_grade_list)
all_output_cols.append(vict.to_frame('Victim Pay Grade'))

# Victim Gender

In [411]:
vals = ['Male','Female','Unknown']

In [412]:
all_output_cols.append(consolidate_col(vals).to_frame('Victim Gender'))

# Subject Affiliation

In [413]:
affil_list

['Army', 'Unknown', 'Air Force', 'Navy', 'DoD']

In [414]:
c = consolidate_col(affil_list, default_val='Last').to_frame('Subject Affiliation')
all_output_cols.append(c)

# Subject Pay Grade

In [415]:
c = consolidate_col(pay_grade_list, default_val='Last').to_frame('Subject Pay Grade')

In [416]:
all_output_cols.append(c)

# Subject Gender

In [417]:
c = consolidate_col(vals, default_val='Last').to_frame('Subject Gender')

In [418]:
all_output_cols.append(c)

# Subject: Prior Investigation for Sex Assault?

In [419]:
colname ='Subject: Prior Investigation for Sex Assault?'

In [420]:
prior_inv_vals = ['Yes','No']
c = consolidate_col(prior_inv_vals, default_val='First').to_frame(colname)
all_output_cols.append(c)

# Subject: Moral Waiver Accession

In [421]:
colname = 'Subject: Moral Waiver Accession'

In [422]:
c = consolidate_col(prior_inv_vals, default_val='Last').to_frame(colname)
all_output_cols.append(c)

# Subject Referral Type

In [423]:
colname= 'Subject Referral Type'
ref_val = ['Other']
c = consolidate_col(prior_inv_vals, default_val='Last').to_frame(colname)
all_output_cols.append(c)

# Quarter Disposition Completed

In [424]:
quarter= ['Q1 (October-\rDecember)',
 'Q2 (January-\rMarch)',
 'Q3 (April-\rJune)',
 'Q4 (July-\rSeptember)']
colname = "Quarter Disposition Completed"
c = consolidate_col(quarter, default_val='First').to_frame(colname)
all_output_cols.append(c)

# Case Disposition

In [425]:
list(t['Unnamed: 13'].value_counts().index)
case_dis = [
    'Courts-Martial\rCharge\rPreferred',
    'Non-Judicial\rPunishment',
    'Non-judicial\rpunishment for\rnon-sexual\rassault offense',
    'Offender is\rUnknown',
    'Other Adverse\rAdministrative\rAction',
    'Administrative\rDischarge',
    'Subject is a\rCivilian or\rForeign\rNational',
    'A\rCivilian/Foreign\rauthority is\rProsecuting\rService Member',
    'Administrative\rdischarge for\rnon-sexual\rassault offense',
    'Other adverse\radministrative\ractions for non-\rsexual assault\roffense',
    'Courts-Martial\rcharge\rpreferred for\rnon-sexual\rassault offense',
]

In [426]:
colname = "Case Disposition"
c = consolidate_col(case_dis, default_val='First').to_frame(colname)
all_output_cols.append(c)

# Most Serious Sexual Assault Offense Charged

In [427]:
colname = 'Most Serious Sexual Assault Offense Charged'

In [428]:
c = consolidate_col(a_list, default_val='Last').to_frame(colname)
all_output_cols.append(c)

# Court Case or Article 15 Outcome

In [429]:
colname = 'Court Case or Article 15 Outcome'
outcome_list = t['Unnamed: 33'].value_counts().index
outcome_list_2 = list(t['Unnamed: 16'].value_counts().index)
outcome_list = list(set(list(outcome_list) + outcome_list_2))

In [430]:
c = consolidate_col(outcome_list, default_val='Last').to_frame(colname)
all_output_cols.append(c)

# Reason Charges Dismissed

In [431]:
dis_vals= [t['Unnamed: 35'].value_counts().index[0]]

In [432]:
c = consolidate_col(dis_vals, default_val='Last').to_frame('Reason Charges Dismissed at Art 32 Hearing, if Applicable')
all_output_cols.append(c)

# Administrative Actions

In [433]:
admin_actions = list(t['Unnamed: 39'].value_counts().index)
c = consolidate_col(admin_actions, default_val='Last').to_frame('Administrative Discharge Type')

In [434]:
all_output_cols.append(c)

# Must Register as a Sex Offender

In [435]:
all_output_cols.append(t['Unnamed: 41'].to_frame('Must Register as Sex Offender'))

# Alcohol Use

In [436]:
alc_list = list(t['Unnamed: 43'].value_counts().index)

In [437]:
c = consolidate_col(alc_list, default_val='Last').to_frame('Alcohol Use')

In [438]:
all_output_cols.append(c)

# Case Synopsis

In [439]:
c = consolidate_col(list(t['Unnamed: 45'].value_counts().index), default_val='Last').to_frame('Case Synopsis')

In [440]:
all_output_cols.append(c)

In [444]:
pd.concat(all_output_cols, axis=1).to_csv('SAPRO_charts_army_14.csv')

In [443]:
ls ../data/sapro/SAPRO\ Annual\ Reports/SAPRO_2014

DoD_FY14_Annual_Report_on_Sexual_Assault_in_the_Military.pdf
SAPRO_2014_allcharts.pdf
SAPRO_charts_airforce_14.pdf
SAPRO_charts_army_14.pdf
SAPRO_charts_army_14_ocr.pdf
SAPRO_charts_marinecorp_14.pdf
SAPRO_charts_navy_14.pdf
workbooks/