In [1]:
import pandas as pd

In [4]:
summary = pd.read_csv('summary_full.csv', index_col=0)

In [12]:
summary['Paragraph'].fillna('').apply(lambda x: x.lower()).apply(lambda x: 'adultery' in x).value_counts()

False    5091
True      215
Name: Paragraph, dtype: int64

In [13]:
summary['Paragraph'].fillna('').apply(lambda x: x.lower()).pipe(lambda df: df[df.apply(lambda x: 'adultery' in x)])

33        at jb san antonio-lackland,  tx,  technical ...
169       at charleston afb,  sc,  staff sergeant jose...
248       at sheppard afb,  tx,  staff sergeant micah ...
777     02 april 2015, at a general court-martial conv...
786     17 april 2015, at a general court-martial conv...
793     24 april 2015, at a general court-martial conv...
799     29 april 2015, at a general court-martial conv...
807     13 april 2016, at a general court-martial conv...
868     23 april 2016, at a general court-martial conv...
872     28 april 2016, at a general court-martial conv...
909     21 april 2017, at a general court-martial conv...
919     12 april 2017, at a general court-martial conv...
926     18 april 2017, at a special court-martial conv...
938     04 august 2015, at a general court-martial con...
940     06 august 2015, at a general court-martial con...
965     20 august 2015, at a general court-martial con...
1026    01 august 2017, at a special court-martial con...
1055    04 december 2014, at a general court-martial c...
1127    02 december 2015, at a special court-martial c...
1137    21 december 2015, at a general court-martial c...
1153    09 december 2016, at a general court-martial c...
1155    14 december 2016, at a general court-martial c...
1184    14 december 2017, at a general court-martial c...
1219    19 february 2015, at a special court-martial c...
1259    26 february 2015, at a general court-martial c...
1262    28 february 2015, at a general court-martial c...
1293    12 february 2016, at a special court-martial c...
1305    17 february 2016, at a special court-martial c...
1307    23 february 2016, at a general court-martial c...
1344    22 february 2017, at a general court-martial c...
                              ...
4003    at a special court-martial at camp pendleton, ...
4024     general court-martial in san diego, californi...
4027     special court-martial in san diego, californi...
4107     general court-martial in pearl harbor, hawaii...
4110     special court-martial onboard naval base guam...
4153     special court-martial in pensacola, florida, ...
4205     special court-martial in naples, italy, abhc ...
4226     general court-martial in naples, italy, an e-...
4279     general court-martial in bremerton, washingto...
4295     special court-martial in bremerton, washingto...
4365     special court-martial in washington, d.c., hm...
4428     special court-martial in jacksonville, florid...
4507     general court-martial in pearl harbor, hawaii...
4604     general court-martial in san diego, californi...
4605     general court-martial in san diego, californi...
4611     general court-martial in yokosuka, japan, hmc...
4614     general court-martial in washington, d.c., cs...
4637     general court-martial in san diego, californi...
4677     special court-martial in norfolk, virginia, m...
4749     general court-martial in pearl harbor, hawaii...
4795     special court-martial in groton, connecticut,...
4809     special court-martial in sigonella, italy, cm...
5036     special court-martial in norfolk, virginia, a...
5056     general court-martial in jacksonville, florid...
5079     general court-martial in great lakes, illinoi...
5097     general court-martial in bremerton, washingto...
5186     general court-martial in yokosuka, japan, sa ...
5192     general court-martial in washington, d.c., os...
5265     general court-martial in norfolk, virginia, c...
5296     general court-martial in lemoore, california,...
Name: Paragraph, Length: 215, dtype: object